main {
    margin-top: 1em;
    justify-content:space-between;
    padding: 0 70px 0 70px;
  }
  
  main section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7em;
  }
  
  main section h4 {
    font-size:1.5em; 
    color: #A0A3BD; 
    font-weight: 400;
    line-height: 3em;
    text-align: center;
  }
  
  main section span {
    font-size: 2em;
    color: #5F2EEA;
    font-weight: 900 !important;
  }

  @media screen and (max-width: 920px) {
    main section  {
      flex-direction: column;
    }
    main section h4 {
      font-size:1em; 
      text-align: center;
    }
  }