/* Show toogle section */
.toogle section {
  display: flex;
  padding: 0 70px 0 70px;
  justify-content: space-between;
  margin-top: 1.5em;
}
.toogle section p {
  color:#5F2EEA;
  font-weight: 400;
}

.toogle section p:first-child {
  font-size: 1.2em;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}
.toogle section p:last-child {
  font-size: .9em;
}
.toogle section p:first-child:hover {
  padding-bottom: 3px;
  border-bottom: 3px solid #5F2EEA;
}
.toogle section p a {
  text-decoration: none;
}
.toogle {
  background-color: #c8c9cd;
  height: 95vh;
}

.toogle section {
  display: flex;
  padding: 0 70px 0 70px;
  justify-content: space-between;
  margin-top: 1.5em;
}
.toogle section p {
  color:#5F2EEA;
  font-weight: 500;
}

.toogle section p:first-child {
  font-size: 1.2em;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}
.toogle section p:last-child {
  font-size: 1em;
}
.toogle section p:first-child:hover {
  padding-bottom: 3px;
  border-bottom: 3px solid #5F2EEA;
}
.toogle section p a {
  color: #5F2EEA;
  text-decoration: none;
}

.card-movie {
  margin-top: .7em;
  padding: 2em;
  margin-left: -10px
}

.card-movie ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
/* card movie */
.card-movie ul li {
  border: 1px solid white;
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
  transition: all .2s ease-in-out;
}
.card-movie ul li:hover {
  transform: scale(1.1);
  background-color: white;
}
/* card info */
.card-movie ul li .image-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 13vw;
}
.card-movie ul li .image-card p {
  color: #14142B;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: .8em;
}
.card-movie ul li .image-card p span {
  font-family: 'Open-Sans';
  font-size: .9em;
  color: #A0A3BD;
}

.card-movie ul li .image-card button {
  background-color: white;
  color: #5F2EEA;
  border: 1px solid #5F2EEA;
  margin-top: 1em;
  font-size: .9em;
}
.card-movie ul li .image-card button:hover {
  background-color: #5F2EEA;
  color: white;
  border: 1px solid white;
  transition: .3s;
}
.card-movie ul li .image-card img {
  width: 150px;
  height: 230px;
}


  /* card info */

  @media (max-width: 920px) {
  .card-movie ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      flex-grow: 1;
      justify-content: space-evenly;
  }
  .card-movie ul {
      list-style-type: none;
      display: flex;
      justify-content: flex-start;
      flex-wrap: nowrap;
      flex-direction: row;
      overflow: auto;
  }
  .card-movie ul li .image-card img {
  width: 13vw;
  height: 42vh;
}

}