/* Show toogle section */
.toogle {
  background-color: #c8c9cd;
  height: 100vh;
}

.toogle .heading {
  display: flex;
  padding: 0 70px 0 70px;
  justify-content: space-between;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.toogle .heading h3 {
  font-size: 20px;
}

.toogle .heading h3 a {
  text-decoration: none;
  color: #5F2EEA;
  font-weight: 500;
}

.toogle .heading h3 a:hover{
  text-decoration: underline;
}

.toogle .heading h5 {
  font-size: 14px;
}

.toogle .heading h5 a {
  text-decoration: none;
  color: #5F2EEA;
}

.toogle .heading h5 a:hover{
  text-decoration: underline;
}

/* card movie */
.card-movie {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3em;
  margin-left: 20px;
  margin-right: 0;
}

.card-info {
  width: 195px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  align-items: center;
  padding: 30px 0 70px 0;
}

.card-info img {
  width: 140px;
  height: 200px;
  border-radius: 5px;
}

.card-info h3 {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
}

.card-info h4 {
  width: 80%;
  height: 40px;
  margin-top: 8px;
  font-size: 12px;
}

.card-info .showing-button {
  border-radius: 10px;
}

.card-info .showing-button a {
  text-decoration: none;
  color: #5F2EEA;
  background-color: #fff;
  border: 1px solid #5F2EEA;
  padding: 3px 10px;
  border-radius: 7px !important;
  transition: all 0.2s ease-in-out;
}

.card-info .showing-button a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #5F2EEA;
}

@media (max-width: 920px) {
  .toogle {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .card-movie {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .card-info {
    width: 40%;
    border-radius: 7px;
    padding: 20px 0 20px 0;
    display: flex;
    margin-right: 20px;
    margin-bottom: 3em;
  }
}
