/* Show toogle section */
.show-toogle {
    background-color: #c8c9cd;
    height: 75vh;
  }

  .show-toogle section {
    display: flex;
    padding: 0 70px 0 70px;
    justify-content: space-between;
    margin-top: 1.5em;
  }

  .show-toogle section p {
    color:#5F2EEA;
    font-weight: 400;
  }

  .show-toogle section p:first-child {
    font-size: 1.2em;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
  }
  .show-toogle section p:last-child {
    font-size: .9em;
  }
  .show-toogle section p:first-child:hover {
    padding-bottom: 3px;
    border-bottom: 3px solid #5F2EEA;
  }
  .show-toogle section p a {
    text-decoration: none;
  }

  .card-movie {
    margin: 2em;
    margin-top: .7em;
    padding: 2em;
  }

  .card-movie ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }
  /* card movie */
  .card-movie ul li {
    border: 1px solid white;
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
    transition: all .2s ease-in-out;
  }
  .card-movie ul li:hover {
    transform: scale(1.1);
    background-color: white;
  }
  /* card info */
  .card-movie ul li .card-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .card-movie ul li .card-image p {
    color: #14142B;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .card-movie ul li .card-image p span {
    font-family: 'Open-Sans';
    font-size: .9em;
    color: #A0A3BD;
    font-weight: 400;
  }
  
  .card-movie ul li .card-image button {
    background-color: white;
    color: #5F2EEA;
    border: 1px solid #5F2EEA;
  }
  .card-movie ul li .card-image button:hover {
    background-color: #5F2EEA;
    color: white;
    border: 1px solid white;
    transition: .3s;
  }

  @media (max-width: 920px) {
  .card-movie ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-evenly;
  }
  .card-movie ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow: auto;
  }
  .card-date ul {
    overflow: scroll;
  }
}