/* .btn {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn input {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 600;
}

.btn input[type="button"] {
    width: 100px;
	height: 40px;
	border-radius: 5px;
	border-style: none;
	cursor: pointer;
    color: white;
}

.btn-1 {
    padding-right: 6%;
}

.btn-1 input{
    background-color: rgb(19, 56, 205);
}

.btn-1 input:hover {
    background-color: rgb(41, 77, 220);
}

.btn-2 input{
    background-color: rgb(208, 20, 20);
}

.btn-2 input:hover {
    background-color: rgb(223, 50, 50);
} */

.main {
    text-align: center;
}
