footer {
    display: flex;
    padding: 0 70px 0 70px;
    margin: 5em;
    align-items: baseline;
    justify-content: space-evenly;
  }
  
  footer .line-2 {
    flex-direction: row;
  }
  footer .line-2 a {
    text-decoration: none;
    color: black;
  }
  footer .line-2 a:hover {
    color: #5F2EEA;
  }
  footer .line-2  h3 {
    margin-bottom: 2em;
  }
  footer .line-2 h4 {
    margin-bottom: 1em;
  }
  footer .line-3 {
    margin-bottom: 1em;
    margin-left: 3em;
  }
  footer .line-3 .list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    list-style-type: none;
  }
  footer .line-3 .list img {
    width: 50%;
    padding-top: 1em;
    padding-bottom: .5em;
  }
  footer .line-3 h4 {
    margin-bottom: 2em;
  }
  footer .line-3 ul li {
    margin-bottom: 2em;
  }
  footer .line-4 ul {
    list-style-type: none;
  }
  
  footer .line-4 h4 {
    margin-bottom: 2em;
  }
  
  footer .line-4 ul li {
    margin-bottom: .7em;
  }
  
  .footer-bottom {
    margin-bottom: 20px;
  }


@media (max-width: 920px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    margin-top: 3em;
  }
  footer .line-2 {
    margin-top: 3em;
  }
  footer .line-2 .list {
    display: flex;
  }
  footer .line-2 .list h4:last-child {
    margin-left: 4em;
  }
  
  
  footer .line-3 {
    margin-top: 2em;
    margin-left: 0;
  }
  footer .line-3 ul {
    margin-bottom: 20px;
  }
  
  footer .line-3 .list {
    display: flex;
    flex-direction: row;
    
  }
  footer .line-3 .list img {
    display: flex;
    flex-grow: 1;
    width: 100%;
    padding: 10px;
  }
  footer .line-4 {
    margin-top: 0;
  }
  footer .line-4 ul{
    display: flex;
    flex-direction: column;
  }
  footer .line-4 ul li{
    margin-bottom: .7em;
    display: flex;
    align-items: center;
  }
  footer .line-4 ul li span{
    margin-left: .5em;
  }
  footer .line-4 h4 {
    margin-bottom: 1em;
  }
}